.contacts-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contacts-list__item {
  margin-bottom: 22px;
  margin-right: -12%;
  margin-left: 25%;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    .contacts-list__icon {
      opacity: 0.7;
    }

    .contacts-list__link {
      color: $primary;
    }
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width-max) {
    margin-right: 2%;
    margin-left: 16%;
  }

  @media (max-width: $mobile-width) {
    &:last-child {
      margin-left: 8%;
    }
  }
}

.contacts-list__link {
  position: relative;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.contacts-list__icon {
  position: absolute;
  top: 0;

  &--phone {
    left: -36px;
  }

  &--mail {
    left: -40px;
  }
}
