.types {
  padding-top: 150px;
  padding-bottom: 110px;
  background-color: $back-for-types;

  @media (max-width: $tablet-width-max) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (max-width: $tablet-width) {
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-middle-width) {
    padding-top: 61px;
    padding-bottom: 58px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 51px;
    padding-bottom: 12px;
  }
}

.types__container {
  padding-right: 132px;
  padding-left: 132px;

  @media (max-width: $tablet-width-max) {
    padding-right: 100px;
    padding-left: 100px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 65px;
    padding-left: 65px;
  }

  @media (max-width: $mobile-middle-width) {
    padding: 0 25px;
  }
}

.types h2 {
  margin: 0 0 13px;
  font-family: $font-stack;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.005em;
  text-align: center;
  color: $secondary;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.types__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $mobile-middle-width) {
    display: block;
    margin: 0;
  }
}

.types__item {
  position: relative;
  margin: $bike-types-offset / 2;
  margin-top: calc(#{$bike-types-offset} / 2 + 10px);
  width: calc((100% / 3) - #{$bike-types-offset});
  transition: all $transition-time-slow ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -17%;
    width: 180px;
    height: 180px;
    border: 27px solid $primary;
    border-radius: 50%;
    z-index: $z-photo-under;
  }

  @media (max-width: $tablet-width-max) {
    margin: $bike-types-offset / 2;
    margin-top: calc(#{$bike-types-offset} / 2);
    width: calc((100% / 2) - #{$bike-types-offset});

    &::before {
      width: 127px;
      height: 127px;
      top: 46%;
      left: -17%;
      border: 18px solid $primary;
    }
  }

  @media (max-width: $tablet-width) {
    &::before {
      top: 55%;
      left: -14%;
    }
  }

  @media (max-width: $mobile-middle-width) {
    width: 100%;
    margin: 0;
    margin-top: 0;
    margin-bottom: 40px;

    &::before {
      top: 27%;
      left: 21%;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;

    &::before {
      top: 57%;
      left: -9%;
    }
  }

  &:last-child {
    @media (max-width: $tablet-width-max) {
      margin-top: 10px;
    }
  }
}

.types__item:nth-child(3n+2) {

  &::before,
  &::after {
    width: 47px;
    height: 47px;
    border-radius: 0;
    border: 8px solid $primary;
    z-index: $z-photo-upper;
  }

  &::before {
    top: 3%;
    left: -5%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 86%;
    left: 93%;
  }

  @media (max-width: $tablet-width-max) {

    &::before,
    &::after {
      display: none;
    }
  }
}

.types__item:nth-child(3n) {

  &::before {
    top: -4%;
    left: 83%;
    width: 95px;
    height: 95px;
    border: 17px solid $primary;
    border-radius: 50%;
    z-index: $z-photo-upper;
  }

  @media (max-width: $tablet-width-max) {

    &::before {
      top: -8%;
      left: 65%;
      width: 68px;
      height: 68px;
      border: 13px solid #0ad9c6;
    }
  }

  @media (max-width: $tablet-width) {
    &::before {
      top: -5%;
      left: 84%;
    }
  }

  @media (max-width: $mobile-middle-width) {
    &::before {
      top: -8%;
      left: 65%;
    }
  }

  @media (max-width: $mobile-width) {
    &::before {
      top: -6%;
      left: 80%;
    }
  }
}

.types__inner-pic {
  position: relative;
  max-height: 503px;
  margin-top: 11px;
  margin-bottom: 20px;
  z-index: $z-bike-item;

  @media (max-width: $tablet-width-max) {
    overflow: hidden;
    width: 270px;
    min-height: 300px;
    max-height: none;
    margin-top: 0;
    border-radius: 10px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (max-width: $mobile-middle-width) {
    margin: 0 auto 18px;
  }
}

.types__inner-pic img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: $back-types-for-bike;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    object-fit: cover;
  }

}

.types__item:nth-child(3n+2) .types__inner-pic {
  max-height: 566px;
  margin-top: 40px;
  z-index: $z-bike-item;

  @media (max-width: $tablet-width-max) {
    margin-top: 0;
    min-height: 300px;
    max-height: none;
  }
}

.types__item:nth-child(3n) .types__inner-pic {
  max-height: 513px;
  margin-top: 1px;
  z-index: $z-bike-item;

  @media (max-width: $tablet-width-max) {
    margin-top: 0;
    min-height: 300px;
    max-height: none;
  }
}

.types h3 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $font-stack;
  font-size: 22px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  color: $basic-black;
}
