.types {
  padding-top: 150px;
  padding-bottom: 110px;
  background-color: $back-for-types;

  @media (max-width: $tablet-width-max) {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 51px;
    padding-bottom: 10px;
  }
}

.types__container {
  max-width: 1259px;

  @media (max-width: $tablet-width-max) {
    max-width: 683px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 302px;
  }
}

.types h2 {
  margin: 0;
  margin-bottom: 13px;
  font-family: $font-stack;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.005em;
  text-align: center;
  color: $secondary;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 30px;
  }
}

.types__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    display: block;
    margin: 0;
  }
}

.types__item {
  margin: $bike-types-offset / 2;
  margin-top: calc(#{$bike-types-offset} / 2 + 10px);
  width: calc((100% / 3) - #{$bike-types-offset});
  transition: all $transition-time-slow ease-in-out;

  @media (max-width: $tablet-width-max) {
    margin: $bike-types-offset / 2;
    margin-top: calc(#{$bike-types-offset} / 2);
    width: calc((100% / 2) - #{$bike-types-offset});
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    margin: 0;
    margin-top: 0;
    margin-bottom: 45px;
  }

  &:last-child {
    @media (max-width: $tablet-width-max) {
      margin-top: 10px;
    }
  }
}

.types__inner-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 31%;
    left: -17%;
    width: 180px;
    height: 180px;
    border: 27px solid $primary;
    border-radius: 50%;
    z-index: $z-photo-under;
  }

  @media (max-width: $tablet-width-max) {
    &::before {
      width: 127px;
      height: 127px;
      top: 67%;
      left: -14%;
      border: 18px solid $primary;
    }
  }

  @media (max-width: $mobile-width-max) {
    &::before {
      top: 67%;
      left: -9%;
    }
  }
}

.types__item:nth-child(3n+2) .types__inner-container {

  &::before,
  &::after {
    width: 47px;
    height: 47px;
    border-radius: 0;
    border: 8px solid $primary;
    z-index: $z-photo-upper;
  }

  &::before {
    top: -3%;
    left: -5%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 96%;
    left: 93%;
  }

  @media (max-width: $tablet-width-max) {

    &::before,
    &::after {
      display: none;
    }
  }
}

.types__item:nth-child(3n) .types__inner-container {

  &::before {
    top: -6%;
    left: 82%;
    width: 95px;
    height: 95px;
    border: 17px solid $primary;
    border-radius: 50%;
    z-index: $z-photo-upper;
  }

  @media (max-width: $tablet-width-max) {
    &::before {
      top: -6%;
      left: 84%;
      width: 68px;
      height: 68px;
      border: 13px solid #0ad9c6;
    }
  }

  @media (max-width: $mobile-width-max) {
    &::before {
      top: -7%;
      left: 80%;
    }
  }
}

.types__inner-pic {
  position: relative;
  max-height: 503px;
  margin-top: 11px;
  margin-bottom: 20px;
  z-index: $z-bike-item;

  @media (max-width: $tablet-width-max) {
    overflow: hidden;
    width: 270px;
    min-height: 300px;
    max-height: none;
    margin-top: 0;
    margin-bottom: 18px;
    border-radius: 10px;
  }

  @media (max-width: $mobile-width-max) {
    margin: 0 auto 18px;
  }
}

.types__inner-pic img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: $back-types-for-bike;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    object-fit: cover;
  }
}

.types__item:nth-child(3n+2) .types__inner-pic {
  max-height: 566px;
  margin-top: 40px;
  z-index: $z-bike-item;

  @media (max-width: $tablet-width-max) {
    margin-top: 0;
    min-height: 300px;
    max-height: none;
  }
}

.types__item:nth-child(3n) .types__inner-pic {
  max-height: 513px;
  margin-top: 1px;
  z-index: $z-bike-item;

  @media (max-width: $tablet-width-max) {
    margin-top: 0;
    min-height: 300px;
    max-height: none;
  }
}

.types h3 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $font-stack;
  font-size: 22px;
  line-height: 34px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.5px;
  text-align: center;
  color: $basic-black;
}
