.welcome {
  padding-top: 315px;
  padding-bottom: 221px;
  background-color: $dark-back-for-main-pic;
  background-image: url("../img/main-back-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-back-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    padding: 0;
    background-image: none;
    background-color: unset;
  }
}

.welcome__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;

  @media (max-width: $tablet-width-max) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;
    padding: 0;
  }
}

.welcome__information {
  width: 82%;
  padding-bottom: 12px;
  align-self: flex-end;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 41px;
    padding: 135px 15px 80px;
    width: 100%;
    text-align: center;
    background-color: $dark-back-for-main-pic;
    background-image: url("../img/main-back-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-back-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    padding: 121px 0 69px;
    background-image: url("../img/main-back-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-back-mobile@2x.jpg");
    }
  }
}

.welcome__information h1 {
  margin: 53px 0 22px;
  font-family: $font-stack;
  font-size: 46px;
  line-height: 64px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.005em;
  text-align: left;
  color: $basic-white;

  @media (max-width: $tablet-width-max) {
    font-size: 42px;
    line-height: 52px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 19px;
    font-size: 30px;
    line-height: 42px;
  }
}

.welcome__information p {
  margin: 0;
  margin-bottom: 10px;
  font-family: $font-stack;
  font-size: 20px;
  line-height: 32px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.005em;
  text-align: left;
  color: $basic-white;
  opacity: 80%;

  @media (max-width: $tablet-width-max) {
    width: 52%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.026em;
  }

  @media (max-width: $mobile-width-max) {
    width: 90%;
  }
}
